* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('image/background3.png') no-repeat center center fixed;
    background-size: cover;
    color: #B1E7F0;
    
}

#Menu {
    background-image: url('image/water3.png');
    background-position: 10%
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color:#B1E7F0;
}

table img {
    width: 50px; 
    margin: 10px;
}

table td {
    text-align: center;
    padding: 10px;
    color: #B1E7F0;
}

a {
    text-decoration: none;
    color: #B1E7F0;
    font-weight: bold;
}

a:hover {
    color: #B1E7F0; 
}


#TitreMain {
    color:#B1E7F0;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center;

}


#avoir {
    background: rgb(0, 0, 0);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

#avoir ul {
    list-style: none;
    padding: 10px;
    line-height: 1.8;
}

#avoir li::before {
    content: "• ";
    color: #B1E7F0; 
    font-size: 1.2rem;
}


table tr {
    text-align: center;
}

#image1main,
#image2main,
#image3main {
    width: 200px; 
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

table td h2 {
    color:#B1E7F0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

table td p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

table td a {
    display: inline-block;
    padding: 10px 20px;
    background: #578399; 
    color: #B1E7F0;
    border-radius: 100px;
    font-size: 1rem;
}

table td a:hover {
    background: #43648F; 


footer {
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    
}

footer img {
    width: 50px;
    vertical-align: middle;
    
}

footer td {
    text-align: center;
    
}

#titreContact {
    text-align: center;
    margin: auto;
}

#SousTitreContact {
    text-align: left;
    margin: 0 auto;
}

#formulaire {
    text-align: left;
}



}