* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('image/water3.png')  , url('image/background3.png') ;
    background-position: top center  , center center ; 
    background-size: 1920px 200px , 1920px 5000px ;
    background-repeat: no-repeat , no-repeat ;
    background-position: 0px 0px , 0px 200px ;
    color: #B1E7F0;
    text-align: center;
}

#Titre_Main {  color:#B1E7F0;
    margin: auto;
    height: 250px;
    width: 900px;
    padding: 45px;
    text-align: center;
    background-image: url('image/Pda3.png');
    background-size: 750px ;
    background-repeat: no-repeat ;
    background-position: center center ;
}

#avoir {
    margin: auto;
    height: 400px;
    padding: 1000px;
    background-image: url('image/Pda\ 4\ .png');
    background-size: 550px;
    background-repeat: no-repeat ;
    background-position: 51% center;
}

#avoir ul {
    list-style: none;
    line-height: 1.8;
}

#avoir li::before {
    content: "• ";
    color: #B1E7F0; 
    font-size: 1.2rem;
}

    #Menu {
   margin: auto;
   width: 1200px;
}

#info {  
    color:#B1E7F0;
    margin: auto;
    height: 500px;
    width: 900px;
    padding-top: 200px;
padding-left: 100px;
padding-right: 100px;
    background-image: url('image/Pda3.png');
    background-size: 900px ;
    background-rSepeat: no-repeat ;
    background-position: center -10px  ;
}

#insp  { 
color:#B1E7F0;
    margin: auto;
    height: 490px;
    width: 800px;
    padding-top: 56px;
    padding-left: 55px;
    padding-right: 55px;
    background-image: url('image/pda6.png');
    background-size: 800px ;
    background-repeat: no-repeat ;
    background-position: 0px -10px 

   
}

#Elliot {
    text-align: center;
    padding: 200px;
height: 500px;
background-image: url('image/pda6.png');
background-size: 850px ;
background-repeat: no-repeat;
background-position: center center;
}

#Camille {
    text-align: center;
    padding: 200px;
height: 500px;
background-image: url('image/pda6.png');
background-size: 850px ;
background-repeat: no-repeat;
background-position: center center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color:#B1E7F0;
}

table img {
    width: 50px; 
    margin: 10px;
}

table td {
    text-align: center;
    color: #B1E7F0;
}

a {
    text-decoration: none;
    color: #B1E7F0;
    font-weight: bold;
}

a:hover {
    color: #B1E7F0; 
}

#form {
height: 1000px;
width: 100px;
    padding-left: 600px;
    padding-right: 500px;
    padding-bottom: 0px;
    background-image: url('image/PDA5.png');
    background-size: 1450px;
    background-repeat: no-repeat ;
    background-position: 100px 0px;

}

#PlaneteBox ,
#ContactBox ,
#ProposBox {
     margin: auto;
     padding: 100px ;
    background-image: url('image/Pda3.png');
    background-size: 700px;
    background-repeat: no-repeat ;
    background-position: center center;
}

table tr {
    text-align: center;
}

#image1main,
#image2main,
#image3main {
    
    margin-left:100px ;
    margin-right:auto;
    width: 600px; 
    height: auto;
    border-radius: 20px;
    padding: 100px;
    background-image: url('image/pda6.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

table td h2 {
    color:#B1E7F0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

table td p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

table td a {
    display: inline-block;
    padding: 10px 20px;
    background: #578399; 
    color: #B1E7F0;
    border-radius: 100px;
    font-size: 1rem;
}

table td a:hover {
    background: #43648F; 
}

footer {
    text-align: left;
    background: black;
    padding: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
    
}

#titreContact {
    margin-left:500px ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 600px; 
    height: 50px;
    padding: 100px;
    background-image: url('image/Pda3.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center 50px;
   
}


#SousTitreContact {

    margin-left:300px ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 1000px; 
    height: 300px;
    padding: 100px;
    background-image: url('image/Pda3.png');
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center -150px;
}

#TitreLibre  {
    margin-left:300px ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 1000px; 
    height: 100px;
    padding: 100px;
    background-image: url('image/Pda3.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center 50px
}
#section12 {
    margin-top: 00px;
    margin-left:auto ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 700px; 
    height: 500px;
    padding: 100px;
    background-image: url('image/pda6.png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center 00px


}


#section21 {
    margin-left:300px ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 100px; 
    height: 300px;
    padding: 100px;
    background-image: url('image/Pda\ 4\ .png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center 00px


}

#section32 {
    margin-left:300px ;
    margin-right:auto;
    padding-bottom: 100px;
    width: 100px; 
    height: 300px;
    padding: 100px;
    background-image: url('image/pda6.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: center 00px


}

#section41 {
    margin-left:0 ;
    margin-right:150px;
    padding-bottom: 100px;
    width: 100px; 
    height: 300px;
    padding: 100px;
    background-image: url('image/Pda\ 4\ .png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center 00px


}





